/* /* nascondo tutti i fieldset ad eccezione del primo */

   #formComp fieldset:not(:first-of-type) {
    display: none;
  }  

  .progress-bar{
    background-color: orange;
}

 .progress, .clock{
    display: none;
} 

.clock{
  text-align: right;
  z-index: 999;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 28px;
}

.info, .info2{
    width: 550px;
    height: 350px;
    background-color: white;
    border: 1px solid black;
    z-index: 999;
    position: absolute;
    padding: 20px;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0,0,0,0,4);
  }

  .glyphicon{
    font-size: 24px;
    cursor: pointer;
  }
  
  .info div p{
    margin-bottom: 10px;
  }
  
  .info2 div p{
    margin-bottom: 10px;
  }

  
  #impresa, #personaFisica{
    display: inline;
  }

  .scelta{
      display: flex;
      justify-content: space-around;
      position: relative;
  }

  .scegli img{
      height: 200px;
      width: auto;
  }

  .question{
      text-align: center;
  }


  .head{
      text-align: center;
      position: relative;
  }

  .logo{
    margin: 0 auto;
    
  }

  /* Select per categoria immobile */

  .category-real-estate{
    display: none;
  }

  .category-real-estate.active{
    display:block;
  }

  .category-real-estate-btn{
    display:none;
  }

  .category-real-estate-btn.active{
    display: block;
  }

  .pop-up-overlay{
    display:none;
    background-color: rgba(0, 0,0,0.4);
    position: absolute;
    z-index:200;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop-up.person-name{
    background-color: white;
    
    
  }