/* /* nascondo tutti i fieldset ad eccezione del primo */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #2c3036;
    background-color: #ebecf0;
}

#formComp fieldset:not(:first-of-type) {
    display: none;
}

.progress-bar {
    background-color: #46eeaa;
    border-radius: 10px;
}

.progress,
.clock {
    display: none;
}

@font-face {
    font-family: "fontClock";
    src: url("../fonts/TickingTimebombBB.ttf");
}

.clock {
    text-align: right;
    z-index: 999;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 28px;
    color: #46eeaa;
    font-family: fontClock;
}

.info,
.info2 {
    width: 550px;
    height: 350px;
    background-color: white;
    border: 1px solid black;
    z-index: 999;
    position: absolute;
    padding: 20px;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0, 4);
}

.glyphicon {
    font-size: 24px;
    cursor: pointer;
}

.info div p {
    margin-bottom: 10px;
}

.info2 div p {
    margin-bottom: 10px;
}

#impresa,
#personaFisica {
    display: inline;
}

.scelta {
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}

.question {
    text-align: center;
}

.head {
    text-align: center;
    position: relative;
}

.head img {
    height: 220px;
    width: 220px;
    border-radius: 34px;
    background: linear-gradient(145deg, #ffffff, #d9dadd);
    box-shadow: 33px 33px 96px #c3c4c6, -33px -33px 96px #ffffff;
}

/* Select per categoria immobile */

.category-real-estate {
    display: none;
}

.category-real-estate.active {
    display: block;
}

.continua {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* inizio switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #46eeaa;
}

input:focus + .slider {
    box-shadow: 0 0 1px #46eeaa;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.flexCenter {
    display: flex;
}

label.switch {
    margin-right: 8px;
}

/* fine toggle switch */

.container {
    margin-top: 100px;
}

a {
    color: #2c3036;
    font-weight: bold;
}

a:hover {
    color: #2c3036;
}

.continua:hover,
.type-user:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #3fd699, #4bffb6);
}
.type-user {
    margin-top: 10px;
    margin-right: 10px;
}

.imageType {
    height: 140px;
    width: 140px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background: #f1f2f5;
    box-shadow: inset 5px 5px 0px #d4d5d8, inset -5px -5px 0px #ffffff;
}

.question {
    cursor: pointer;
}

/* bottoni previous e next */

input[type="button"],
button {
    outline: 0;
    border: none;
    border-radius: 50px;
    padding: 10px 28px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.previous-reg {
    background-color: #edeef2;
    color: black;
    box-shadow: 5px 5px 4px #828384, -5px -5px 4px #ffffff;
}

.previous-reg:hover {
    background-color: #e3e4e7;
}

.next {
    background-color: #46eeaa;
    color: #fff;
    box-shadow: 5px 5px 0px #606162, -5px -5px 0px #ffffff;
}

.next:hover {
    background: linear-gradient(145deg, #3fd699, #4bffb6);
    color: #fff;
}

.bottoni {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
