* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html, .container, .row {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #2c3036;
  background-color: #EBECF0;
  font-size: 18px;
  padding-right: 0px !important;
}

body.modal-open {
  overflow: hidden !important;
  overflow-y: hidden !important;
}

.container {
  margin-top: 0 !important;
}

.modal-open {
  overflow-y: auto;
}

@font-face {
  font-family: "fontClock";
  src: url("../fonts/TickingTimebombBB.ttf");
}

/* .wrap-lazyload{
  height: auto;
  margin: 0px auto;
  padding: 0px auto;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 855;
  background-color: red;
} */
/* mappa sede legale */
#map-registered-office, #map-estate, #map-valutation {
  height: 300px;
  z-index: 10;
}

.no-wrap {
  white-space: nowrap;
}

.m-top-60 {
  margin-top: 60px;
}

.m-top-30 {
  margin-top: 30px;
}

.m-bottom-60 {
  margin-bottom: 60px;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-right-10 {
  margin-right: 10px !important;
}

.m-right-20 {
  margin-right: 20px !important;
}

#formComp fieldset:not(:first-of-type) {
  display: none;
}

.ap-input-icon {
  display: none;
}

.container {
  margin-top: 100px;
}

a {
  color: #3C28D6;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #2c3036;
}

.info-contatto {
  text-align: center;
  color: #2c3036;
}

hr {
  height: 2px;
  border: 0;
  width: 33%;
  margin: auto;
  border-radius: 2px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-top: 36px;
}

.pac-container {
  z-index: 3000;
}

.error {
  color: red;
}

.choose-type-user .image {
  height: 264px;
  width: 264px;
  border-radius: 50px;
  box-shadow: inset 3px 3px 6px #d4d5d8, inset -3px -3px 6px #fff;
  display: flex;
}

.head {
  text-align: center;
  position: relative;
  padding-top: 50px;
}

.head img {
  height: 130px;
  width: 120px;
  border-radius: 6px;
  background: #F1F2F5;
  box-shadow: 3px 3px 5px #cdced0, -3px -3px 5px #fff;
}

.head h1 {
  color: #2c3036;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.head-small-text {
  display: none;
  margin-bottom: 75px;
  letter-spacing: 1px !important;
  font-weight: bold;
}

.progress-wrap {
  margin: auto;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.progress-bar {
  background-color: #3C28D6;
  border-radius: 10px;
}

.progress {
  width: 100%;
  height: 14px;
  margin-bottom: 0 !important;
  box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
}

.glyphicon-flag {
  color: #3C28D6;
}

fieldset {
  margin-bottom: 50px;
}

.scelta {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  padding: 0 10px;
}

.title-select strong {
  margin-right: 30px;
}

.seismic-valutation {
  display: flex;
  align-items: end;
}

.seismic-valutation .seismic-valutation-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.seismic-valutation .btn-next {
  font-size: 14px;
}

.seismic-valutation .input-valutation {
  border: none;
  margin-right: 15px;
  border-radius: 20px;
  padding: 4px 20px;
  background: #f5f5f5;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15), inset -3px -3px 6px #ffffff;
}

/* .result{
  border:none;
  margin: 15px 0;;
  border-radius: 20px;
  padding: 4px 20px;
  background: #f5f5f5;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15),
    inset -3px -3px 6px #ffffff;
  width: 100%;
} */
.last-page-title {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.last-page-code {
  margin: 60px 0;
}

.last-page-code span {
  letter-spacing: 5px;
  font-size: 3rem;
  border-radius: 30px;
  background: #f5f5f5;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15), inset -3px -3px 6px #ffffff;
  padding: 30px;
  color: #3C28D6;
  font-weight: bold;
}

.last-page-code-text {
  font-size: 2rem;
}

.last-page-code-text-small {
  font-size: 1.5rem;
}

.qr-code {
  margin: 30px 0px;
}

.qr-code img {
  width: 120px;
}

.last-page-paragraph {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.last-page-footer {
  padding: 60px 0;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.code {
  color: #2ad590;
  margin: 40px 0;
}

.code div {
  border-radius: 6px;
  background: #f1f2f5;
  box-shadow: inset 20px 20px 60px #fff, inset -20px -20px 60px #ffffff;
  padding: 20px 40px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 200px;
  height: auto;
}

.qr-code img {
  height: 80px;
  width: auto;
  margin: 20px 0;
}

.qr-code p {
  margin: 40px 0;
}

@media (max-width: 680px) {
  .scelta {
    flex-direction: column;
    align-items: center;
  }
  .seismic-valutation {
    flex-direction: column;
  }
  .seismic-valutation .seismic-valutation-wrap {
    width: 100%;
  }
}

.clock {
  display: none;
}

.clock {
  text-align: right;
  z-index: 999;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 28px;
  color: #46eeaa;
  font-family: fontClock;
}

.btn-next {
  outline: 0;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background-color: #3C28D6;
  color: #fff;
}

.btn-type-user-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.btn-type-user {
  outline: 0;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background-color: #3C28D6;
  color: #fff;
  margin: 0 0 10px !important;
  padding: 10px 25px;
  text-transform: none !important;
  width: 250px;
}

.btn-type-user:hover,
.btn-next:hover {
  background: linear-gradient(190deg, #3C28D6, #014ef5);
  color: #fff;
}

.btn-previous {
  outline: 0;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  background-color: #F2F3F6;
  color: black;
}

.btn-previous:hover {
  color: #333;
  background-color: #E5E6EC;
  border-color: #adadad;
}

.bottoni input {
  margin-right: 1.5rem;
  position: relative;
}

.bottoni {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn-home {
  margin-right: 0 !important;
}

.getValutation {
  margin-right: 15px;
}

.buttons-valutation {
  display: flex;
  align-items: center;
}

.search-address-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@media (max-width: 680px) {
  .buttons-valutation {
    margin-top: 30px;
  }
}

.modal.fade {
  background-color: rgba(255, 255, 255, 0.87);
}

.modal-content {
  background-color: #ebecf0 !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
  padding: 10px !important;
  display: flex;
}

.close span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(53%, -55%);
  color: #000;
  font-weight: 900;
}

button.close {
  border-radius: 50%;
  position: relative;
  height: 20px;
  display: block;
  width: 20px;
  box-shadow: 2px 2px 6px 1px black;
}

input.form-control {
  border: none;
  outline: none !important;
  text-align: left;
  padding: 0 7px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: none !important;
  border-color: transparent !important;
}

input.form-control:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

/* fix per autofill di google */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15), inset -3px -3px 6px #ffffff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* nascondo freccette degli input con typ number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.input-control, .select-control, .choose-category {
  cursor: pointer !important;
}

select.form-control option {
  background-color: #f5f5f5;
}

select::-ms-expand {
  display: none;
  /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

.control-label {
  color: #3C28D6;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0 !important;
  font-weight: 700;
  width: 35%;
  margin-right: 30px;
  padding: 5px 10px;
}

.row-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background: #f5f5f5;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15), inset -3px -3px 6px #ffffff;
}

.row-input input {
  padding-left: 20px;
}

/* scelta condominio */
.condominium {
  display: none;
}

.hidden-input {
  border-radius: 20px;
  padding: 0px 20px;
  background: #f5f5f5;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15), inset -3px -3px 6px #ffffff;
}

.hidden-input label {
  color: #2ad590;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0 !important;
  font-weight: 700;
  width: 35%;
  margin-right: 30px;
}

.coat-checkbox {
  margin: 0 20px 0 0 !important;
}

.coat-label {
  margin: 0 10px 0 0 !important;
}

/* Select per categoria immobile */
.category-real-estate {
  display: none;
}

.category-real-estate.active {
  display: block;
}

select.form-control {
  border: none;
  -webkit-appearance: none;
  margin: 20px auto;
  border-radius: 10px;
  padding: 0 20px;
  background: url("../icon/downarr.png") no-repeat right #ebecf0;
  -webkit-appearance: none;
  background-position-x: 99%;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), -3px -3px 5px #ffffff;
}

select::-ms-expand {
  display: none;
  /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

/* inizio switch */
.switch {
  position: relative;
  display: inline-block;
  min-width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 34px;
  box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3C28D6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3C28D6;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

label.switch {
  margin-right: 8px;
}

.switch-wrapper {
  display: flex;
}

/* fine toggle switch */
.imageType {
  width: 50%;
  margin: auto;
}

.glyphicon {
  font-size: 22px;
  cursor: pointer;
  margin-left: 6px;
}

.question {
  cursor: pointer;
}

.label-wrapper {
  display: flex;
  align-items: center;
}

#impresa-info a,
#personaFisica-info a {
  font-size: 11px;
}

.label-info-cursor {
  border: 1px solid #3C28D6;
  border-radius: 100%;
  background-color: transparent;
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.label-info-cursor img {
  height: 15px;
  margin: auto;
}

@media (max-width: 680px) {
  #impresa-info,
  #personaFisica-info {
    position: relative;
    right: 0;
    margin: 0 0 10px 0;
  }
  .btn-type-user-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.check-wrap {
  display: flex;
}

.checkbox label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 4px;
  width: 4px;
  display: inline-block;
  margin-right: 10px;
}

.checkbox label:after {
  background-color: #2c3036;
  content: "";
  height: 6px;
  width: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 7px;
  border-radius: 50%;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + label {
  background-color: #fff;
  border-color: #edeef2;
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */