.btn-next {
    @include button-style($primary-color, #fff);
}

.btn-type-user-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.btn-type-user {
    @include button-style($primary-color, #fff);
    margin: 0 0 10px !important;
    padding: 10px 25px;
    text-transform: none !important;
    width: 250px;
}

.btn-type-user:hover,
.btn-next:hover {
    background: linear-gradient(190deg, $primary-color, $secondary-color);
    color: #fff;
}

.btn-previous {
    @include button-style($previous-btn, black);
    // font-size: 18px;
}

.btn-previous:hover {
    color: #333;
    background-color: $previous-btn-hover;
    border-color: #adadad;
}

.bottoni input {
    margin-right: 1.5rem;
    position: relative;
}

.bottoni {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.btn-home{
  margin-right: 0 !important;
}

.getValutation{
  margin-right: 15px;
}

.buttons-valutation{
  display: flex;
  align-items: center;
}

.search-address-wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@media (max-width: 680px) {

  .buttons-valutation{
    margin-top: 30px;
  }

}