.clock {
    display: none;
}

.clock {
    text-align: right;
    z-index: 999;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 28px;
    color: #46eeaa;
    font-family: fontClock;
}
