* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html, .container, .row {
  height:100%;
}

body {
    font-family: "Lato", sans-serif;
    color: #2c3036;
    background-color: $background;
    font-size: 18px;
    padding-right: 0px !important
}

body.modal-open {
  overflow: hidden !important;
  overflow-y: hidden !important;
}

.container{
  margin-top: 0 !important;
}

.modal-open {
  overflow-y: auto;
}

@font-face {
    font-family: "fontClock";
    src: url("../fonts/TickingTimebombBB.ttf");
}

/* .wrap-lazyload{
  height: auto;
  margin: 0px auto;
  padding: 0px auto;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 855;
  background-color: red;
} */

/* mappa sede legale */
#map-registered-office, #map-estate, #map-valutation {
    height: 300px;
    z-index: 10;
}

.no-wrap{
  white-space: nowrap;
}
.m-top-60 {
    margin-top: 60px;
}

.m-top-30 {
    margin-top: 30px;
}

.m-bottom-60 {
    margin-bottom: 60px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-right-10 {
  margin-right: 10px !important;
}
.m-right-20 {
  margin-right: 20px !important;
}


#formComp fieldset:not(:first-of-type) {
    display: none;
}

.ap-input-icon {
    display: none;
}

.container {
    margin-top: 100px;
}

a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #2c3036;
}

.info-contatto {
    text-align: center;
    color: #2c3036;
}

hr {
    height: 2px;
    border: 0;
    width: 33%;
    margin: auto;
    border-radius: 2px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-top: 36px;
}

.pac-container{
  z-index: 3000;
}

.error {
    color: red;
}


.choose-type-user {
  .image {
    height: 264px;
    width: 264px;
    border-radius: 50px;
    box-shadow: inset 3px 3px 6px #d4d5d8, inset -3px -3px 6px #fff;
    display: flex;
  }
}