.head {
    text-align: center;
    position: relative;
    padding-top: 50px;
}

.head img {
    height: 130px;
    width: 120px;
    border-radius: 6px;
    background: $background-logo;
    box-shadow: 3px 3px 5px #cdced0, -3px -3px 5px #fff;
}

.head h1 {
    color: #2c3036;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.head-small-text{
  display:none;
  margin-bottom: 75px;
  letter-spacing: 1px !important;
  font-weight: bold;
}

.progress-wrap{
  margin: auto;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.progress-bar {
  background-color: $primary-color;
  border-radius: 10px;
}

.progress {
  width: 100%;
  height: 14px;
  margin-bottom: 0 !important;
  -webkit-box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
}

.glyphicon-flag{
  color: $primary-color;
}
