.imageType {
    height: 140px;
    width: 140px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background: #f1f2f5;
    box-shadow: inset 5px 5px 0px #d4d5d8, inset -5px -5px 0px #ffffff;
    width: 200px;
}
