input.form-control {
    border: none;
    outline: none !important;
    text-align: left;
    padding: 0 7px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: none !important;
    border-color: transparent !important;
}

input.form-control:focus {
    box-shadow: none !important;
    border-color: transparent !important;
    
}

/* fix per autofill di google */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15), inset -3px -3px 6px #ffffff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* nascondo freccette degli input con typ number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input.input-control, .select-control, .choose-category{
  cursor:pointer !important;
}

select.form-control option {
    background-color: #f5f5f5;
}

select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

.control-label {
    color: $primary-color;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0 !important;
    font-weight: 700;
    width: 35%;
    margin-right: 30px;
    padding:5px 10px
}

.row-input {
    display: flex;

    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
   
    background: #f5f5f5;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15),
        inset -3px -3px 6px #ffffff;
}

.row-input input{
  padding-left: 20px;
}

/* scelta condominio */

.condominium{
    display: none;
}

.hidden-input{
    border-radius: 20px;
    padding: 0px 20px;
    background: #f5f5f5;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.15),
        inset -3px -3px 6px #ffffff;
}

.hidden-input label {
    color: #2ad590;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0 !important;
    font-weight: 700;
    width: 35%;
    margin-right: 30px;
}

.coat-checkbox{
  margin: 0 20px 0 0 !important;
}


.coat-label{
  margin: 0 10px 0 0 !important;
}