.modal.fade {
    background-color: rgba(255, 255, 255, 0.87);
  }

.modal-content {
    background-color: #ebecf0 !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
    padding: 10px !important;
    display: flex;
}

.close span {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(53%, -55%);
    color: #000;
    font-weight: 900;
}

button.close {
    border-radius: 50%;
    position: relative;
    height: 20px;
    display: block;
    width: 20px;
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 1);
}

