.progress-bar {
    background-color: $secondary-color;
    border-radius: 10px;
}

.progress {
    max-width: 535px;
    margin: 40px auto;
    height: 14px;
    -webkit-box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
    display: none;
}
