/* inizio switch */
.switch {
    position: relative;
    display: inline-block;
    min-width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 34px;
    -webkit-box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 3px 3px 12px -6px rgba(0, 0, 0, 0.5);
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $primary-color;
}

input:focus + .slider {
    box-shadow: 0 0 1px $primary-color;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

label.switch {
    margin-right: 8px;
}

.switch-wrapper {
    display: flex;
}

/* fine toggle switch */
